.card-title[b-50l33cdkuw] {
    color: black;
}

.collections[b-50l33cdkuw] {
    background-color: rgba(255, 255, 255, 0.15);
}

.expenses[b-50l33cdkuw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.balance[b-50l33cdkuw] {
    background-color: rgba(255,255,255,0.25);
}